body {
    font-family: sans-serif;
  }
  body   
{  
background-size: cover;  
font-family: sans-serif;  
}  
.nav{
    display:flex;
}
.img_right{
    padding: 10px;
    
}
.img_left{
    padding:1600px;
    margin-bottom: 20px;
    
    
}
.comment{
    height:300px;
    width:500px;
}
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #tweets {
    margin-top: 20px;
  }
  
  .tweet {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .tweet-header {
    display: flex;
    justify-content: space-between;
  }
  
  .tweet-header .username {
    font-weight: bold;
  }
  
  .tweet-header .actions {
    display: flex;
    align-items: center;
  }
  
  .tweet-header .actions a {
    margin-right: 10px;
  }